textarea{
    resize: none;
}

ul{
    list-style: none;
}
.main-content-wrapper{
    display: flex;
}

input[name="title"]{
    width: 40rem;
}

.main-preview{
    margin: 1vmax;
    height: 40rem;
    width:34vw;
    word-wrap: break-word;
    overflow: auto;
    border: 2px solid #AAA;
}

#text-preview{
    margin: 0px;
}


#main_intro_menu{
    border: solid 2px black;
    width: fit-content;
    padding: 5px;
    padding-right:40px;
    
    left:70vw;
    top:80%;
    z-index: 1;
}

#selected-color{
    color: black;
}


#with-image{
    display: none;
}